<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76f99d">  <td>20/10/12 10:57:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdGmailLoginTest.OpenBrowser()[pri:0, instance:testcases.ProdGmailLoginTest@307f6b8c]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="76f99d">  <td>20/10/12 10:58:11</td>   <td>44656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdGmailLoginTest.ProductionGmailLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.ProdGmailLoginTest@307f6b8c]">ProductionGmailLogin</td> 
  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="76f99d">  <td>20/10/12 10:58:56</td>   <td>90009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdGmailLoginTest.teardown()[pri:0, instance:testcases.ProdGmailLoginTest@307f6b8c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
</table>
