<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9687bc">  <td>20/10/12 11:48:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.OpenBrowser()[pri:0, instance:testcases.LoginTest@1a8a8f7c]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>20/10/12 11:49:11</td>   <td>39853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.TrainerLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.LoginTest@1a8a8f7c]">TrainerLogin</td> 
  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>20/10/12 11:49:37</td>   <td>65785</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testcases.LoginTest@1a8a8f7c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>20/10/12 11:49:39</td>   <td>68474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GmailLoginTest.TrainerSocialBrowser()[pri:0, instance:testcases.GmailLoginTest@2353b3e6]">&gt;&gt;TrainerSocialBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>20/10/12 11:50:24</td>   <td>112957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GmailLoginTest.GmailLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.GmailLoginTest@2353b3e6]">GmailLogin</td> 
  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>20/10/12 11:51:05</td>   <td>154281</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GmailLoginTest.teardown()[pri:0, instance:testcases.GmailLoginTest@2353b3e6]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="976963">  <td>20/10/12 11:51:08</td>   <td>157036</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FacebookLoginTest.TrainerSocialBrowser()[pri:0, instance:testcases.FacebookLoginTest@631330c]">&gt;&gt;TrainerSocialBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="976963">  <td>20/10/12 11:51:49</td>   <td>198111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLoginTest.FacebookLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.FacebookLoginTest@631330c]">FacebookLogin</td> 
  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="976963">  <td>20/10/12 11:52:30</td>   <td>239336</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FacebookLoginTest.teardown()[pri:0, instance:testcases.FacebookLoginTest@631330c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>20/10/12 11:52:33</td>   <td>242018</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdLoginTest.OpenBrowser()[pri:0, instance:testcases.ProdLoginTest@42f93a98]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>20/10/12 11:53:22</td>   <td>291020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdLoginTest.ProductionTrainerLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.ProdLoginTest@42f93a98]">ProductionTrainerLogin</td> 
  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>20/10/12 11:53:52</td>   <td>321273</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdLoginTest.teardown()[pri:0, instance:testcases.ProdLoginTest@42f93a98]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>20/10/12 11:53:55</td>   <td>323938</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdFacebookLoginTest.OpenBrowser()[pri:0, instance:testcases.ProdFacebookLoginTest@c46bcd4]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>20/10/12 11:54:36</td>   <td>364578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdFacebookLoginTest.ProductionFacebookLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.ProdFacebookLoginTest@c46bcd4]">ProductionFacebookLogin</td> 
  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>20/10/12 11:55:29</td>   <td>417595</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdFacebookLoginTest.teardown()[pri:0, instance:testcases.ProdFacebookLoginTest@c46bcd4]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="87af79">  <td>20/10/12 11:55:31</td>   <td>420304</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdGmailLoginTest.OpenBrowser()[pri:0, instance:testcases.ProdGmailLoginTest@3234e239]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="87af79">  <td>20/10/12 11:56:07</td>   <td>455618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdGmailLoginTest.ProductionGmailLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.ProdGmailLoginTest@3234e239]">ProductionGmailLogin</td> 
  <td>main@775931202</td>   <td></td> </tr>
<tr bgcolor="87af79">  <td>20/10/12 11:56:55</td>   <td>504196</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdGmailLoginTest.teardown()[pri:0, instance:testcases.ProdGmailLoginTest@3234e239]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775931202</td>   <td></td> </tr>
</table>
